opencv-python>=4.5.0
numpy>=1.20.0
torch>=2.0.0
torchvision>=0.15.0
ultralytics>=8.0.0
pyyaml>=6.0
watchdog>=2.1.0
kagglehub>=0.2.0
matplotlib>=3.5.0
pillow>=9.0.0
flask>=2.0.0
scikit-learn>=0.24.0
# New additions for Supabase integration
flask-session>=0.4.0
python-dotenv>=0.19.0
supabase>=2.15.0
requests>=2.28.0
qrcode>=7.3.0
gtts

# Added for Gemini Video Analyzer script
google-generativeai>=0.4.0 # Or just google-generativeai if you want the latest

playsound==1.2.2
# google-cloud-texttospeech >= 2.14.0 # Add Google Cloud TTS
google-cloud-texttospeech

